body {
    background-image: url('../images/space-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background-color {
    background-color: yellow;
}

.position {
    padding-top: 30px;
    padding-bottom: 30px;
}

#title {
    font-size: 100px;
}

.word-size {
    font-size: 16px;
}

.spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}