#background {
    background-image: url('../images/battlefield-explosion-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: screen;
}

.position {
    padding-top: 10px;
    padding-bottom: 10px;
}

#opacity{
    background: rgba(246,255,254,0.5);
}

img.hidden {
   display: none
}

#title {
    font-size: 75px;
}

.word-size {
    font-size: 25px;
}

.spacing {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    /* Choose the animation */
    animation-name: movingBox;
  
    /* The animation’s duration */
    animation-duration: 1300ms;
  
    /* The number of times we want
        the animation to run */
    animation-iteration-count: infinite;
  
    /* Causes the animation to reverse
        on every odd iteration */
    animation-direction: alternate;
  }
  
  @keyframes movingBox {
    0% {
      transform: translate(0, 0);
      opacity: 0.3;
    }
  
    25% {
      opacity: 0.9;
    }
  
    50% {
      transform: translate(100px, 100px);
      opacity: 0.2;
    }
  
    100% {
      transform: translate(30px, 30px);
      opacity: 0.8;
    }
  }